.bg-registration {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #ccc;
}
.registration-design {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	margin-top: 10px;

	grid-template-columns: repeat(4, 1fr);
}

.registration-design .registration-card {
	position: relative;
	width: 45%;
	width: auto;
	height: auto;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 5px 5px #00000055;

	padding: 0 5%;
	padding-bottom: 30px;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.registration-card .registration-button {
	width: 100%;
	height: 40px;
	margin-top: 30px;

	color: white;
	font-weight: bold;
	background-color: black;
}

.registration-card .bottom-registration {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.registration-card .bottom-registration * {
	text-decoration: none;
	color: #c9905b;
	font-weight: bold;
}
.registration-card .bottom-registration *:hover {
	color: #f9c08b;
}

@media (max-width: 900px) {
	.title-card {
		font-size: 1.6rem;
	}
}

@media (max-width: 700px) {
	.title-card {
		font-size: 1.4rem;
	}
}
